{
  "log-driver": "json-file",
  "log-opts": {
    "max-size": "10m",
    "max-file": "3"
  },
  "live-restore": true{% if insecure_registries | length > 0 %},
  "insecure-registries": {{ insecure_registries | to_json }}
{% endif %}

}
